<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="gridstack.js is a jQuery plugin for widget layout">
  <meta name="keywords" content="gridstack, jquery, grid, layout, drag-n-drop, widgets, js, javascript">
  <meta name="author" content="Pavel Reznikov">
  <title>gridstack.js</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css' rel='stylesheet' type='text/css'>

  <link href="http://troolee.github.io/gridstack.js/gridstack.css" rel="stylesheet">
  <link href="http://troolee.github.io/gridstack.js/gridstack-demo.css" rel="stylesheet">
</head>
<body id="page-top" class="index">
                                                        <!-- Navigation -->
                                                     
                                                        
<section id="demo" class="darklue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Demo</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="grid-stack" data-gs-width="12" data-gs-animate="yes">
      <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
        <div class="grid-stack-item-content">1</div>
      </div>
      <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4">
        <div class="grid-stack-item-content">2</div>
      </div>
      <div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="2" data-gs-height="2" data-gs-min-width="2" data-gs-no-resize="yes">
        <div class="grid-stack-item-content">
          <span class="fa fa-hand-o-up"></span> Drag me! 
        </div>
      </div>
      <div class="grid-stack-item" data-gs-x="10" data-gs-y="0" data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">4</div>
      </div>
      <div class="grid-stack-item" data-gs-x="0" data-gs-y="2" data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">5</div>
      </div>
      <div class="grid-stack-item" data-gs-x="2" data-gs-y="2" data-gs-width="2" data-gs-height="4">
        <div class="grid-stack-item-content">6</div>
      </div>
      <div class="grid-stack-item" data-gs-x="8" data-gs-y="2" data-gs-width="4" data-gs-height="2">
        <div class="grid-stack-item-content">7</div>
      </div>
      <div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">8</div>
      </div>
      <div class="grid-stack-item" data-gs-x="4" data-gs-y="4" data-gs-width="4" data-gs-height="2">
        <div class="grid-stack-item-content">9</div>
      </div>
      <div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">10</div>
      </div>
      <div class="grid-stack-item" data-gs-x="10" data-gs-y="4" data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">11</div>
      </div>
    </div>
  </div>
</section>
                                                        
                                                   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <script src="../static/js/jquery-2.1.4.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/dash.js"></script>
  <script src="../static/js/d3.js"></script>
  <script src="../static/js/nv.d3.js"></script>
  <script src="../static/js/dash.vis.js"></script>
  <script src="../static/js/jquery-watch.js"></script>
  <script src="../static/js/lodash.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/gridstack.js"></script>

  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap-vertical-menu.css">
  <link rel="stylesheet" href="../static/css/font-awesome.css">
  <link rel="stylesheet" href="../static/css/default.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/nv.d3.css">
  <link rel="stylesheet" href="../static/css/dash.css">
  <link rel="stylesheet" href="../static/css/gridstack.css">
<!-- Custom Theme JavaScript -->
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
  $(function () {
    $('.grid-stack').gridstack({
      width: 12,
      always_show_resize_handle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
      resizable: {
        handles: 'e, se, s, sw, w'
      }
    });
  });
</script>

</body>
</html>


