<!DOCTYPE html>

<html lang="en">
<head>
  <title>Ipython Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  <script src="../static/js/bootstrap-3.3.5.min.js"></script>
  <script src="../static/js/dash-0.1.2.js"></script>
  <script src="../static/js/d3-3.5.6.min.js"></script>
  <script src="../static/js/nv.d3-1.7.1.js"></script>
  <script src="../static/js/dash.vis-0.1.2.js"></script>
  <script src="../static/js/jquery-watch-1.16.js"></script>
  <script src="../static/js/lodash-3.10.1.min.js"></script>
  <script src="../static/js/jquery-ui-1.11.4.min.js"></script>
  <script src="../static/js/gridstack-0.2.4.min.js"></script>
  <script src="../static/js/moment-2.10.6.min.js"></script>
  <script src="../static/js/jquery.tablesorter-2.23.5.min.js"></script>
  <script src="../static/js/store.js"></script>

  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/bootstrap-3.3.5.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-vertical-menu.css">
  <link rel="stylesheet" href="../static/css/font-awesome-4.4.0.min.css">
  <link rel="stylesheet" href="../static/css/default.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/nv.d3.css">
  <link rel="stylesheet" href="../static/css/dash-0.1.2.css">
  <link rel="stylesheet" href="../static/css/gridstack.css">
</head>

<body style="background: white;">

  <!-- Main Content Area -->
<div class="container container-box">
  <div class="main clearfix">

    <!-- navigate left side bar -->
    <nav id="nav" class="navbar navbar-vertical-left" onmousemove="resizeContent(1)" onmouseout="resizeContent(2)">
      <ul class="nav navbar-nav" style="height: 250px;">
        <li><a href=""></a></li>
        <li><a href="/">
          <i class="fa fa-fw fa-lg fa-tachometer"></i><span>Boards</span></a></li>
        <li><a href="">
          <i class="fa fa-fw fa-lg fa-database"></i><span>SQL</span></a></li>
        <li><a href="">
            <i class="fa fa-fw fa-lg fa-question-circle"></i><span>Help</span></a></li>
        <li><a href="https://github.com/litaotao/IPython-Dashboard" target="_blank">
            <i class="fa fa-fw fa-lg fa-github"></i><span>Github</span></a></li>
      </ul>
    </nav>

    <!-- main content container -->
    <div id="main-content" class="htmleaf-container">
      <div class="table-responsive">
        <table id="my" class="table table-hover" data-toggle="table">
          <thead>
            <tr>
              <th>name<i class="fa fa-fw fa-sm fa-sort"></i></th>
              <th>author<i class="fa fa-fw fa-sm fa-sort"></i></th>
              <th>update<i class="fa fa-fw fa-sm fa-sort"></i></th>
              <th>action</th>
            </tr>
          </thead>
          <tbody id="dash_list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    initDashList();
    $(document).ready(function(){
        $(function(){
        $("#my").tablesorter({ sortList: [[2, 1]] });
        });
    });
</script>


</body>
</html>
